.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    /* border: black solid 2px; */
    align-items: center;
    /* justify-content: space-evenly; */
}

input{
    background-color: transparent;
    width: 200px;
    height: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    /* margin-left: 50px; */
    
}

.button-login{
    position: absolute;
    width: 175px;
    height: 35px;
    margin-top: 110px;
    border-radius: 35px;
    outline: none;
    border: none;
    background-color:rgb(165, 118, 251);
    cursor: pointer;
  
}

#username{
    position: absolute;
    color: rgb(165, 118, 251);
    margin-right: 230px;
    margin-bottom: 83px;
}

.sign-in{
    position: absolute;
    margin-bottom: 300px;
}

#psw{
    position: absolute;
    margin-right: 230px;
    margin-top: 40px;
    color: rgb(165, 118, 251);
} 

.sign-up-container{
    position: absolute;
    /* border: red 2px solid; */
    height: 100px;
    width: 300px;
    margin-bottom: 820px;
    margin-left: 660px;
}

.sign-up-button{
    margin-left: 20px;
    border-radius: 35px;
    width: 100px;
    height: 30px;
    border: solid 2px rgba(128, 128, 128, 0.295);
    /* background-color: rgb(165, 118, 251); */
    cursor: pointer;
    outline:none;
    background-color: transparent;
}

.sign-up-button:hover{
    border: rgb(165, 118, 251) solid 1px;
}

.no-accout-text{
    font-size: 14px;
}